.banner1AllDataContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.banner1LeftContainer {
  width: 100%;
  height: 450px;
  grid-column: 1/3;
  border-radius: 10px;
  padding-left: 5rem;
  overflow: hidden;
}

.banner1RightContainer {
  width: 100%;
  grid-column: 3/-1;
  border-radius: 10px;
  overflow: hidden;
}

.banner1LeftAllInfoContainer {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  align-items: center;
  gap: 20px;
}

.banner1RightAllInfoContainer {
  overflow: hidden;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}

.banner1LeftImage,
.banner1RightImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bannerInfoRightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner1LeftHeaderTitle {
  font-size: 1rem;
  text-transform: uppercase;
  color: #dd2831;
  margin-bottom: 3px;
}

.banner1RightHeaderTitle {
  font-size: 14px;
  background-color: #dd2831;
  display: inline-block;
  color: #fff;
  font-weight: 600;
  border-radius: 0 5px 5px 5px;
  margin-bottom: 10px;
  letter-spacing: 0.75px;
  padding: 2px 15px;
}

.banner1LeftTitle {
  font-size: 40px;
  font-weight: 800;
  color: #000;
  margin-bottom: 14px;
}

.banner1RightTitle {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  white-space: pre-line;
  margin-bottom: 10px;
}

.banner1LeftSubTitle {
  font-size: 0.9rem;
  color: #000;
  margin-bottom: 35px;
}

.banner1RightSubTitle {
  font-size: 0.9rem;
  font-weight: 700;
  color: #0068c8;
  letter-spacing: 0.05rem;
  text-align: center;
  margin-top: 7px;
}

.banner1RightBtn {
  display: none;
}

/* ---------- */
@media only screen and (max-width: 699px) {
  .banner1AllDataContainer {
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .banner1LeftContainer {
    width: 100%;
    height: 400px;
    padding: 0px;
  }

  .banner1RightContainer {
    /* height: 400px; */
  }

  .banner1LeftAllInfoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 30px 0 30px;
  }

  .banner1RightAllInfoContainer {
    width: 100%;
    padding: 30px 30px 0 30px;
  }

  .banner1LeftHeaderTitle {
    font-size: 0.8rem;
    margin-bottom: 6px;
  }

  .banner1RightHeaderTitle {
    font-size: 0.7rem;
  }

  .banner1LeftTitle {
    font-size: 26px;
    font-weight: 600;
  }

  .banner1RightTitle {
    font-size: 22px;
    font-weight: normal;
  }

  .banner1LeftSubTitle {
    font-size: 0.8rem;
    margin-bottom: 25px;
  }

  .banner1RightSubTitle {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 12px;
  }

  .btnShopNow {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .banner1AllDataContainer {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    display: flex;
    gap: 15px;
  }

  .banner1LeftContainer {
    padding: 0px;
    height: 370px;
  }

  .banner1RightContainer {
    height: 370px;
  }

  .banner1LeftAllInfoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: center;
    padding-top: 30px;
  }

  .banner1RightAllInfoContainer {
    padding-top: 30px;
  }

  .bannerLeftInfoContainer,
  .bannerInfoRightContainer {
    padding: 0 30px;
  }

  .banner1LeftHeaderTitle,
  .banner1RightHeaderTitle {
    font-size: 0.7rem;
    margin-bottom: 6px;
  }

  .banner1LeftTitle,
  .banner1RightTitle {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .banner1LeftSubTitle,
  .banner1RightSubTitle {
    font-size: 0.8rem;
    margin-bottom: 25px;
  }

  .btnShopNow {
    display: flex;
    justify-content: center;
  }

  .banner1RightImage {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .banner1AllDataContainer {
    padding: 0 30px;
    gap: 20px;
  }
}
