.rowSliderDataContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.thumbnailSliderContainer {
  width: 100%;
  max-width: 68px;
}

.mainImageContainer {
  width: calc(100% - 100px);
}

.firstImage {
  width: 100%;
  max-width: 330px;
  height: auto;
  object-fit: contain;
}

.secondImageAllContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

.secondImageContainer {
  cursor: pointer;
}

.secondImage {
  width: 100%;
  height: auto;
  border: 1px solid #dfdfdf;
  padding: 5px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .rowSliderDataContainer {
    gap: 1rem;
  }

  .firstImage {
    max-width: 280px;
  }
}

@media screen and (max-width: 500px) {
  .thumbnailSliderContainer {
    max-width: 50px;
  }

  .mainImageContainer {
    width: calc(100% - 60px);
  }
}

@media screen and (min-width: 1000px) and (max-width: 1250px) {
  .rowSliderDataContainer {
    gap: 1rem;
  }

  .thumbnailSliderContainer {
    max-width: 60px;
  }

  .mainImageContainer {
    width: calc(100% - 80px);
  }
}
