.rowSliderDataContainer {
  display: flex;
  align-items: flex-start;
}

.thumbnailSliderContainer {
  width: 80px;
  margin-right: 20px;
}

.mainImageContainer {
  width: calc(100% - 50px);
}

.firstImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: 20px;
}

.secondImageContainer {
  margin-bottom: 10px;
  cursor: pointer;
}

.secondImage {
  width: 100%;
  height: auto;
  border: 1px solid #dfdfdf;
  padding: 5px;
  border-radius: 5px;
  object-fit: cover;
}
