.rowSliderDataContainer {
  display: flex;
}

.thumbnailSliderContainer {
  width: 68px;
}

.mainImageContainer {
  width: calc(100% - 70px);
}

.firstImage {
  width: 330px;
  height: auto;
  object-fit: contain;
  padding: 20px;
}

.secondImageAllContainer {
  padding: 12px 0;
}

.secondImageContainer {
  margin-bottom: 5px;
  cursor: pointer;
}

.secondImage {
  width: 100%;
  height: auto;
  border: 1px solid #dfdfdf;
  padding: 5px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}
