.companyAllDataContainer {
  max-width: 1600px;
  padding: 0 30px;
  margin: 0 auto;
}

.companyImage {
  width: 100%;
  height: 35px;
  opacity: 0.2;
  transition: all 200ms ease;
  cursor: pointer;
  padding-right: 50px;
}

.companyImage:hover {
  opacity: 1;
}

@media only screen and (max-width: 1550px) {
  .companyAllDataContainer {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .companyAllDataContainer {
    width: 100%;
    padding: 0 15px;
  }

  .companyImage {
    width: 100%;
    height: 30px;
    padding: 0 20px;
  }
}
