.companyAllDataContainer {
  width: 80%;
  margin: 0 auto;
  max-width: 1550px;
}

.companyImage {
  width: 160px;
  height: 40px;
  opacity: 0.2;
  transition: all 200ms ease;
  cursor: pointer;
}

.companyImage:hover {
  opacity: 1;
}

@media only screen and (max-width: 500px) {
  .companyAllDataContainer {
    width: 94%;
  }

  .companyImage {
    width: 80px;
    height: 30px;
  }
}
