.heroAllDataMainContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #f1f1f1;
  padding: 30px 0;
}

@media only screen and (max-width: 500px) {
  .heroAllDataMainContainer {
    flex-direction: column-reverse;
    gap: 30px;
  }
}
