.serviceAllDataContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.serviceDataContainer {
  display: flex;
  gap: 12px;
}

.serviceIcon {
  font-size: 60px;
  margin-top: -10px;
  color: #0068c8;
}

.serviceTitle {
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
}

.serviceSubTitle {
  font-size: 1rem;
  line-height: 28px;
}
