.productCategoryDetailsAllDataContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
}

.pageName {
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 30px 0;
}

.productCategoryDetailsCartAndAsideContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.productCategoryDetailsAsideContainer {
  grid-column: 1/2;
  padding-right: 2rem;
  border-right: 1px solid #e1e1e1;
}

/* _______________ */

.priceRangeContainer {
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 0.5rem;
}

.priceRangeTitle {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0.8rem 1.1rem;
}

.hrLine {
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}

.priceRangeInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.priceRangeInput {
  width: 5rem;
  padding: 0.313rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  outline: none;
}

.priceRangeInput:focus {
  border-color: #0068c8;
}

.filteringDataContainer {
  background-color: #f4f4f4;
  box-shadow: none;
  border-radius: 10px;
}

.filteringInfoContainer {
  width: 100%;
  max-height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

/* _______________ */

.productCategoryDetailsCartContainer {
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.productPaginationContainer {
  max-width: 20rem;
  margin: 0 auto;
  margin-top: 3rem;
}

@media only screen and (max-width: 800px) {
  .productCategoryDetailsAllDataContainer {
    padding: 0 15px;
  }

  .productCategoryDetailsCartAndAsideContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .productCategoryDetailsCartContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and (min-width: 520px) and (max-width: 800px) {
  .productCategoryDetailsCartContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 800px) and (max-width: 1099px) {
  .productCategoryDetailsCartContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1550px) {
  .productCategoryDetailsCartContainer {
    gap: 20px;
  }
}
