.trendingProductsSliderAllDataMainContainer {
  position: relative;
  width: 100%;
  background-color: #f4f4f4;
  padding: 50px 0;
}

.sliderAllDataContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.trendingProductsText {
  font-size: 30px;
  font-weight: 600;
}

.trendingProductsHrLine {
  border-top: 1px solid #cfc9c9;
}

/* slider arrow  */
.nextArrowContainer,
.prevArrowContainer {
  position: absolute;
  top: -88px;
  right: 0;
  background-color: #cfc9c9;
  color: #fff;
  width: 35px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.prevArrowContainer {
  top: -88px;
  right: 70px;
}

/* ----------- */
@media only screen and (max-width: 500px) {
  .sliderAllDataContainer {
    gap: 25px;
    padding: 0 15px;
  }

  .trendingProductsText {
    font-size: 1.25rem;
  }

  /* slider arrow  */
  .nextArrowContainer,
  .prevArrowContainer {
    top: -73px;
    right: 0;
    width: 30px;
    height: 25px;
  }

  .prevArrowContainer {
    top: -73px;
    right: 50px;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .sliderAllDataContainer {
    padding: 0 15px;
    gap: 25px;
  }

  .trendingProductsText {
    font-size: 1.5rem;
  }

  /* slider arrow  */
  .nextArrowContainer,
  .prevArrowContainer {
    top: -73px;
  }

  .prevArrowContainer {
    top: -73px;
  }
}
