.bestSellersAllDataContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
}

.bestSellersHeaderTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bestSellersAllDataInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.bestSellersTitleText {
  font-size: 30px;
  font-weight: 600;
}

.tabBtnContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.tabBtn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.02rem;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.3s;
  cursor: pointer;
}

.tabBtn:hover {
  color: #0068c8;
}

.selectedBtn {
  color: #0068c8;
}

.bestSellersLineHr {
  border-top: 1px solid #dfd9d9;
}

.categoryInfoDataContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-top: 10px;
}

.seeMoreContainer {
  position: relative;
  grid-column: 4/-1;
}

.sreMoreImage {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
}

.seeMoreInfoContainer {
  position: absolute;
  top: 120px;
  left: 50px;
  color: #fff;
}

.seeMoreSubtitle {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.seeMoreTitle {
  font-size: 56px;
  font-weight: 800;
  white-space: pre-line;
  text-transform: capitalize;
  margin-bottom: 25px;
}

/* ----responsive css--- */
@media only screen and (max-width: 1200px) {
  .bestSellersAllDataContainer {
    padding: 0 15px;
  }

  .bestSellersHeaderTitleContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .bestSellersAllDataInfoContainer {
    gap: 20px;
  }

  .bestSellersTitleText {
    font-size: 24px;
  }

  .tabBtnContainer {
    column-gap: 25px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tabBtn {
    font-size: 0.8rem;
  }

  .categoryInfoDataContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .seeMoreContainer {
    grid-column: 1/-1;
  }

  .sreMoreImage {
    width: 100%;
    height: 280px;
  }

  .seeMoreInfoContainer {
    top: 100px;
    left: 30px;
  }

  .seeMoreSubtitle {
    font-size: 0.8rem;
  }

  .seeMoreTitle {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 520px) and (max-width: 800px) {
  .categoryInfoDataContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .bestSellersHeaderTitleContainer {
    flex-direction: row;
  }

  .tabBtn {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .bestSellersAllDataContainer {
    padding: 0 30px;
  }

  .bestSellersHeaderTitleContainer {
    flex-direction: row;
  }

  .bestSellersAllDataInfoContainer {
    gap: 25px;
  }

  .bestSellersTitleText {
    font-size: 26px;
  }

  .tabBtn {
    font-size: 0.95rem;
  }

  .categoryInfoDataContainer {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
  .categoryInfoDataContainer {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

  /* .sreMoreImage {
    width: 100%;
    height: 100%;
  }

  .seeMoreInfoContainer {
    top: 100px;
    left: 30px;
  }

  .seeMoreSubtitle {
    font-size: 0.8rem;
  }

  .seeMoreTitle {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
  } */
}
