.handleFromBtnStyle {
  background-color: #0a85d1;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 15px 35px;
  font-size: 1.1rem;
  text-transform: capitalize;
  cursor: pointer;
}

.regAllDataContainer {
  position: relative;
  /* max-width: 1600px; */
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 50px;
}

.regDataContainer {
  background-color: #ebebeb;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  border-radius: 8px;
}

.regText {
  font-size: 2rem;
  text-transform: capitalize;
  color: #111111;
}

.regSubText {
  font-size: 1rem;
  color: #111111;
  margin-top: 0.6rem;
}

.inputFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 40px;
}

.inputField {
  width: 100%;
  padding: 1rem 1.25rem;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  outline: none;
  transition: all 0.3s;
  font-size: 0.95rem;
  outline: none;
  background-color: #f4f4f4;
}

.inputField:focus {
  border: 1px solid #0068c8;
}

.singInAndForgotPsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
  text-transform: capitalize;
}

.createAccountText {
  display: flex;
  text-align: left;
  margin-top: 1.5rem;
  text-transform: capitalize;
  text-decoration: none;
  color: #111111;
}

.createAccountText:hover {
  color: #0068c8;
}

@media screen and (max-width: 500px) {
  .regAllDataContainer {
    padding: 0 10px;
    margin-top: 30px;
  }

  .regDataContainer {
    margin: 0 auto;
    text-align: center;
    padding: 20px 15px;
  }
}
