.dealDataContainer {
  width: 100%;
  height: 400px;
  display: flex;
  gap: 20px;
  padding: 1.875rem;
}

.dealProductImageContainer {
  width: 50%;
  height: 100%;
}

/* right side */
.hotAndDiscountContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.productDiscount,
.productHot,
.soldOut {
  display: flex;
  justify-content: center;
  width: 60px;
  padding: 5px 5px;
  font-size: 0.7rem;
  background-color: #0068c8;
  color: #fff;
  border-radius: 0 5px 5px 5px;
  text-wrap: nowrap;
}

.productHot {
  width: 50px;
  background-color: #dd2831;
}

.soldOut {
  width: 80px;
  background-color: #868686;
}

.cartInfoContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.productName {
  font-size: 1rem;
  font-weight: 600;
  color: #848484;
  text-transform: capitalize;
  transition: all 0.3s;
}

.productName:hover {
  color: #0068c8;
}

.productTitle {
  font-size: 1.2rem;
  line-height: 26px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s;
}

.productTitle:hover {
  color: #0068c8;
}

.productsPriceContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.productsCurrentPrice {
  font-size: 1.3rem;
  color: red;
  font-weight: 700;
}

.productsOldPrice {
  font-size: 1.1rem;
  color: #848484;
  font-weight: 300;
}

.btnAddToCart {
  width: 50%;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #0068c8;
  padding: 16px 42px;
  background: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 10px;
  text-wrap: nowrap;
}

.btnAddToCart:hover {
  background-color: #0068c8;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .dealDataContainer {
    height: 350px;
    display: flex;
    gap: 20px;
    padding: 1.875rem;
  }

  .dealProductImageContainer {
    width: 50%;
    height: 100%;
  }

  /* right side */
  .hotAndDiscountContainer {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .productDiscount,
  .productHot,
  .soldOut {
    display: flex;
    justify-content: center;
    width: 60px;
    padding: 5px 5px;
    font-size: 0.7rem;
    background-color: #0068c8;
    color: #fff;
    border-radius: 0 5px 5px 5px;
    text-wrap: nowrap;
  }

  .productHot {
    width: 50px;
    background-color: #dd2831;
  }

  .soldOut {
    width: 80px;
    background-color: #868686;
  }

  .cartInfoContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .productName {
    font-size: 1rem;
    font-weight: 600;
    color: #848484;
    text-transform: capitalize;
    transition: all 0.3s;
  }

  .productName:hover {
    color: #0068c8;
  }

  .productTitle {
    font-size: 1.2rem;
    line-height: 26px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s;
  }

  .productTitle:hover {
    color: #0068c8;
  }

  .productsPriceContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .productsCurrentPrice {
    font-size: 1.3rem;
    color: red;
    font-weight: 700;
  }

  .productsOldPrice {
    font-size: 1.1rem;
    color: #848484;
    font-weight: 300;
  }

  .btnAddToCart {
    width: 50%;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #0068c8;
    padding: 16px 42px;
    background: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;
    margin-top: 10px;
    text-wrap: nowrap;
  }

  .btnAddToCart:hover {
    background-color: #0068c8;
    color: #fff;
  }
}

@media screen and (max-width: 700px) {
  .dealDataContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1.875rem;
  }

  .dealProductImageContainer {
    width: 100%;
    height: 100%;
  }

  /* right side */
  .hotAndDiscountContainer {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .productDiscount,
  .productHot,
  .soldOut {
    display: flex;
    justify-content: center;
    width: 60px;
    padding: 5px 5px;
    font-size: 0.7rem;
    border-radius: 0 5px 5px 5px;
  }

  .productHot {
    width: 50px;
  }

  .soldOut {
    width: 80px;
  }

  .cartInfoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .productName {
    font-size: 1rem;
    font-weight: 600;
  }

  .productTitle {
    font-size: 1.2rem;
    line-height: 26px;
  }

  .productTitle:hover {
    color: #0068c8;
  }

  .productsPriceContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .productsCurrentPrice {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .productsOldPrice {
    font-size: 1.1rem;
    font-weight: 300;
  }

  .btnAddToCart {
    width: 50%;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #0068c8;
    padding: 16px 42px;
    background: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;
    margin-top: 10px;
    text-wrap: nowrap;
  }

  .btnAddToCart:hover {
    color: #fff;
  }
}
