.dealDataContainer {
  width: 100%;
  height: 400px;
  display: flex;
  gap: 20px;
  padding: 1.875rem;
}

.dealProductImageContainer {
  width: 50%;
  height: 100%;
}

/* right side */
.hotAndDiscountContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.productDiscount,
.productHot,
.soldOut {
  display: flex;
  justify-content: center;
  width: 60px;
  padding: 5px 5px;
  font-size: 0.7rem;
  background-color: #0068c8;
  color: #fff;
  border-radius: 0 5px 5px 5px;
  text-wrap: nowrap;
}

.productHot {
  width: 50px;
  background-color: #dd2831;
}

.soldOut {
  width: 80px;
  background-color: #868686;
}

.cartInfoContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.productName {
  font-size: 1rem;
  font-weight: 600;
  color: #848484;
  text-transform: capitalize;
  transition: all 0.3s;
}

.productName:hover {
  color: #0068c8;
}

.productTitle {
  font-size: 1.2rem;
  line-height: 26px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s;
}

.productTitle:hover {
  color: #0068c8;
}

.productsPriceContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.productsCurrentPrice {
  font-size: 1.3rem;
  color: red;
  font-weight: 700;
}

.productsOldPrice {
  font-size: 1.1rem;
  color: #848484;
  font-weight: 300;
}

.btnAddToCart {
  width: 200px;
  margin-top: 10px;
}

@media screen and (max-width: 700px) {
  .dealDataContainer {
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 1.5rem;
  }

  .dealProductImageContainer {
    width: 100%;
    height: 100%;
  }

  /* right side */

  .cartInfoContainer {
    width: 100%;
    gap: 12px;
  }

  .productName {
    font-size: 1rem;
    font-weight: 600;
  }

  .productTitle {
    font-size: 1.2rem;
    line-height: 26px;
  }

  .productsCurrentPrice {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .productsOldPrice {
    font-size: 1.1rem;
    font-weight: 300;
  }

  .btnAddToCart {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .dealDataContainer {
    padding: 1rem;
  }

  /* right side */

  .productName {
    font-size: 0.9rem;
  }

  .productTitle {
    font-size: 1rem;
  }

  .productsCurrentPrice {
    font-size: 1.1rem;
  }

  .productsOldPrice {
    font-size: 1rem;
  }
}
