.cartBtn {
  margin-bottom: 8px;
  font-size: 18px;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 100%;
  transition: all 0.3s;
  cursor: pointer;
}

.cartBtn:hover {
  background-color: #dae0e6;
}

.quickViewModalContainer,
.addToCartModalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 950px;
  height: 500px;
  padding: 2rem;
  border-radius: 0.5rem;
  margin: 0 auto;
  background-color: #fff;
}

.addToCartModalContainer {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.quickViewModalModalInfoContainer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 30px;
}

.addToCartModalContainerTitle {
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.addToCartModalItemContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 1rem 0;
}

.modalCloseIcon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000000;
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.4rem;
  cursor: pointer;
}

.addToCartModalImage {
  max-width: 150px;
  width: 100%;
  height: auto;
}

.quickViewModalName {
  font-size: 1rem;
  color: #848484;
  text-transform: capitalize;
}

.quickViewModalTitle,
.addToCartModalTitle {
  font-size: 1.8rem;
  font-weight: normal;
  text-transform: capitalize;
  margin: 0.7rem 0;
}

.addToCartModalTitle {
  font-size: 1rem;
}

.ratingReviewAndStockContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.7rem;
  text-transform: capitalize;
}

.ratingStar {
  font-size: 1.2rem;
}

.stock {
  border: 1px solid #0fb232;
  color: #0fb232;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-left: 1rem;
}

.quickViewPriceContainer,
.addToCartModalPriceContainer {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.8rem;
}

.quickViewModalCurrentPrice,
.addToCartModalCurrentPrice {
  color: #dd2831;
  font-size: 1.8rem;
  font-weight: 700;
}

.addToCartModalCurrentPrice {
  font-size: 1.2rem;
}

.quickViewModalOldPrice,
.addToCartModalOldPrice {
  color: #848484;
  font-size: 1.2rem;
  font-weight: 300;
}

.addToCartModalOldPrice {
  font-size: 1.1rem;
}

.quickViewModalDiscount {
  font-size: 1rem;
  margin-left: 5px;
}

.addToCartModalBtnGroup {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.2rem;
}

@media screen and (max-width: 1179px) {
  .smBlock {
    display: block;
  }

  .smNone {
    display: none;
  }
}
