.firstImageContainer {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.firstImage {
  width: 85%;
  margin: 0 auto;
  height: 500px;
  padding: 20px 50px;
  object-fit: cover;
}

.secondImageAllDataContainer {
  position: relative;
}

.secondImageContainer {
  margin-top: 25px;
  padding-right: 20px;
  margin-left: 10px;
}

.secondImage {
  width: 100%;
  height: 150px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}

@media only screen and (max-width: 500px) {
  .firstImage {
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .secondImageContainer {
    margin-top: 15px;
    margin-left: 10px;
  }

  .secondImage {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}
