.allDataContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1.875rem;
}

.dealAllInfoDataContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.limitedDealInfoContainer {
  grid-column: 1/2;
  border: 0.188rem solid #0068c8;
  padding: 4rem 1.875rem 3rem 1.875rem;
  border-radius: 0.625rem;
  text-align: center;
}

.dealTopTitle {
  font-size: 1rem;
  text-transform: uppercase;
  color: #dd2831;
}

.dealTitle {
  font-size: 2.25rem;
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0.75rem 0;
}

.dealSubTitle {
  font-size: 1rem;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.timerContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.limitedDealProductInfoContainer {
  grid-column: 2/-1;
  border: 2px solid #e1dcdc;
  border-radius: 0.625rem;
}

/* @media screen and (min-width: 700px) and (max-width: 1000px) { */
@media screen and (max-width: 1000px) {
  .dealAllInfoDataContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .limitedDealInfoContainer {
    grid-column: 1/-1;
    padding: 4rem 1.875rem 3rem 1.875rem;
  }

  .dealTopTitle {
    font-size: 0.93rem;
  }

  .dealTitle {
    font-size: 1.563rem;
    font-weight: 800;
    margin: 0.75rem 0;
  }

  .dealSubTitle {
    font-size: 0.93rem;
  }

  .timerContainer {
    margin-top: 2rem;
  }

  .limitedDealProductInfoContainer {
    grid-column: 1/-1;
    border: 2px solid #e1dcdc;
    border-radius: 0.625rem;
  }
}

@media screen and (max-width: 800px) {
  .allDataContainer {
    padding: 0 0.938rem;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1350px) {
  .dealTitle {
    font-size: 1.563rem;
    font-weight: 800;
    margin: 0.75rem 0;
  }

  .limitedDealProductInfoContainer {
    width: 100%;
    height: 350px;
  }

  .limitedDealInfoContainer {
    padding: 2rem 1.875rem 1.5rem 1.875rem;
  }
}
