.filteringDataContainer {
  background-color: #f4f4f4;
  box-shadow: none;
  border-radius: 10px;
}

.filteringInfoContainer {
  width: 100%;
  max-height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}
