.productCategoryAllDataContainer {
  max-width: 1624px;
  margin: 0 auto;
  padding: 0 25px;
}

.productCategoryDataContainer {
  padding: 0 12px;
}

.productCategoryDataInfo {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 23px 20px;
  border-radius: 10px;
  border: 1px solid #fff;
  transition: 200ms ease;
}

.productCategoryDataInfo:hover {
  border: 1px solid #0068c8;
}

.productCategoryInfo {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  transition: 200ms ease;
}

.productCategoryInfo:hover {
  color: #0068c8;
}

.productCategoryIcon {
  width: 27%;
  height: 100%;
}

.productCategoryTitle {
  text-transform: capitalize;
  font-weight: 600;
}

/* ------- */

@media only screen and (max-width: 800px) {
  .productCategoryAllDataContainer {
    padding: 0 5px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1550px) {
  .productCategoryAllDataContainer {
    padding: 0 16px;
  }
}
