.allDataContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1.875rem;
}

.pcBuilderSection {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 1.25rem 0;
}

.headerLogoAndActionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  padding: 0 1.875rem;
}

.logo {
  width: 8.75rem;
  height: 100%;
}

.allActions {
  display: flex;
  gap: 1.875rem;
  align-items: center;
}

.actionsNameAndIcon {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.actionsIcon {
  font-size: 1.2rem;
  color: #0068c8;
}

.actionsName {
  font-size: 1rem;
  font-weight: 600;
}

/*  */
.pcBuilderContainer2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  margin: 1.875rem 0;
}

.pcBuilderTitle {
  font-size: 1rem;
  font-weight: 600;
  color: #0068c8;
  margin-bottom: 0.625rem;
  text-transform: capitalize;
}

.hideUnselectedItems {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: gray;
}

.wattageAndPriceContainer {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

.wattageInfo {
  position: relative;
  text-align: center;
  background-color: #fff;
  border: 1px dashed black;
  border-radius: 5px;
  padding: 0.625rem 2.5rem;
}

.priceInfo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  background-color: #0068c8;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.625rem 2.5rem;
}

.totalWattage,
.totalPrice {
  font-size: 1.2rem;
  font-weight: 500;
}

.betaTag {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.75rem;
  color: #0068c8;
}

.estimatedWattage {
  font-size: 0.75rem;
  color: gray;
}

.totalItems {
  font-size: 0.85rem;
}

/*  */

.pcBuilderItemsALlDataContainer {
  padding: 0 5rem;
}

.categoryName {
  background-color: gray;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 0.313rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

.pcBuilderItemsDataContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ebebeb;
  margin-top: 1rem;
  border-radius: 0.313rem;
  padding: 1rem;
}

.pcBuilderItemsContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.pcBuilderItemsLogo {
  width: 4.5rem;
  height: 4.5rem;
}

.itemsInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemsNameAndProductName {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chooseBtnAndPriceContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.itemsPrice {
  border-right: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  height: 3.2rem;
  padding-right: 2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.chooseBtn {
  font-size: 1.2rem;
  background-color: #0068c8;
  font-weight: 500;
  color: #fff;
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 0.313rem;
  cursor: pointer;
  text-transform: capitalize;
}
