.transparentButton {
  background-color: #0068c8;
  width: 100%;
  padding: 12px 42px;
  border-radius: 5px;
  border: 1px solid #0068c8;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.4s;
  cursor: pointer;
  text-wrap: nowrap;
}

.transparentButton:hover {
  color: #0068c8;
  background-color: transparent;
}
