.navigationBarAllDataContainer {
  background-color: #fff;
}

/* Navigation bar Top section data style */
.topNavAllDataContainer {
  background-color: #1b1b1b;
  color: #fff;
  padding: 12px 0;
}

.topNavDataContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
}

.topNavInfoContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 0.9rem;
}

.electricIcon {
  display: none;
}

.categoryListHighlightText {
  color: #fcc904;
}

.categoryListText {
  color: #fff;
}

/* Navigation bar Center section data style */
.centerNavAllDataContainer {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0 26px 26px;
}

.gadgetGalleryLogo {
  width: 160px;
  height: 65px;
}

.searchFieldContainer {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
}

.centerSearchFieldContainer {
  width: 100%;
  display: block;
}

.allCategories {
  display: flex;
  gap: 20px;
  align-items: center;
  text-wrap: nowrap;
  text-transform: capitalize;
  padding: 0 30px;
  border-right: 1px solid #000000;
  height: 52px;
  border-radius: 0 2px 2px 0;
  border: 2px solid #0068c8;
  border-right: none;
  border-radius: 8px 0 0 8px;
}

.angleDownIcon {
  padding: 0 2px;
}

.searchFieldAndButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchField {
  width: 100%;
  height: 52px;
  background: transparent;
  color: #353333;
  border: none;
  padding: 5px 20px;
  font-size: 1rem;
  border: 2px solid #0068c8;
}

.searchButton {
  height: 52px;
  background-color: #0068c8;
  color: #fff;
  border: none;
  padding: 17px 30px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}

.searchButton:hover {
  background-color: #1a74c9;
}

.searchButtonSearchIcon {
  display: none;
}

.centerNavRightDataContainer {
  display: flex;
  gap: 30px;
}

.centerNavRightDataInfoContainer,
.centerNavRightDataInfoContainerNone {
  display: flex;
  align-items: center;
  gap: 8px;
}

.centerNavRightDataInfoContainerLgNone {
  display: none;
}

.centerNavRightDataIcon {
  font-size: 22px;
  margin-top: 6px;
}

.LgStyle {
  display: none;
}

.centerNavRightDataText {
  text-transform: capitalize;
  font-size: 0.85rem;
  text-wrap: nowrap;
}

.centerNavHelpNumber {
  color: #0068c8;
  font-weight: 600;
}

/* Navigation bar Bottom section data style */
.bottomNavHrLine {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.bottomNavAllDataContainer {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  text-transform: capitalize;
}

.shopCategoriesALlDataContainer {
  display: flex;
  gap: 35px;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.shopCategoriesAllTextContainer {
  position: relative;
  display: flex;
  gap: 90px;
  align-items: center;
  border-right: 1px solid #ebebeb;
  height: 50px;
}

.shopCategoriesTextAndIconContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.alignJustifyIcon {
  font-size: 1.5rem;
}

.arrowDownIcon {
  margin-right: 30px;
  padding: 0 1.5px;
}

/* bottom Nav List All Data Container */

.bottomNavListAllDataContainer {
  display: flex;
  gap: 40px;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}

.navCategoryRightList {
  display: flex;
  gap: 35px;
  align-items: center;
}

.bottomNavRightHeartIcon {
  font-size: 1.5rem;
}

.navCategoryListRightItemHrLine {
  border-right: 1px solid #ebebeb;
  height: 50px;
}

.bottomNavRightPcBuilder {
  font-weight: 600;
  color: #fff;
  background-color: #0068c8;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: capitalize;
}

/* >>>> */

.shopCategoriesALlDataInfoContainer {
  width: 100%;
  max-width: 300px;
  position: absolute;
  top: 50px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding-top: 5px;
  z-index: 300;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: none;
}

.shopCategoriesALlDataContainer :hover .shopCategoriesALlDataInfoContainer {
  opacity: 1;
  display: block;
}

.navCategoryListHrLineAndCategory {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.navCategoryListHrLineAndCategory :hover {
  color: #0068c8;
}

.navCategoryListItemAllDataContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px 0 0;
  border-top: 1px solid #ebebeb;
}

.angleRightIcon {
  font-size: 0.7rem;
}

.navCategoryListItemContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 7px 25px;
}

.categoryDataIcon {
  font-size: 1.5rem;
  margin-top: 5px;
}

.categoryDataName {
  font-size: 0.9rem;
  text-transform: capitalize;
}

/* sub Categories All Data Container */

.subCategoriesAllDataContainer {
  max-width: 500px;
  background-color: #fff;
  position: absolute;
  right: -432px;
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  display: none;
  border-radius: 0 10px 10px 0;
  padding-top: 5px;
  z-index: 300;
  padding: 30px 40px;
  opacity: 0;
}

.navCategoryListHrLineAndCategory:hover .subCategoriesAllDataContainer {
  display: block;
  opacity: 1;
}

.subCategoriesAllInfoContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.subCategoriesName {
  color: red;
  text-wrap: nowrap;
  margin-bottom: 12px;
}

.subCategoriesListContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.subCategoriesList {
  color: #000000;
  font-size: 0.9rem;
  text-wrap: nowrap;
}

/* responsive css */
@media screen and (max-width: 750px) {
  .topNavAllDataContainer,
  .bottomNavAllDataContainer {
    display: none;
  }

  /* responsive css phone */
  /* Navigation bar Center section data style */
  .centerNavAllDataContainer {
    padding: 10px 0 10px 10px;
  }

  .gadgetGalleryLogo {
    max-width: 130px;
    height: 50px;
  }

  .searchDrawerContainer {
    width: 60vw;
  }

  .searchFieldContainer {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .centerSearchFieldContainer {
    width: 100%;
    display: block;
  }

  .allCategories {
    width: 85%;
    background-color: #efefef;
    justify-content: space-between;
    padding: 0 20px;
    border: none;
    border-right: none;
  }

  .angleDownIcon {
    padding: 0 2px;
  }

  .searchFieldAndButton {
    width: 95%;
    margin: 0 auto;
  }

  .searchField {
    border: none;
    padding: 5px 12px;
    font-size: 1rem;
    border: 1px solid #0068c8;
    border-radius: 5px 0 0 5px;
  }

  .searchButton {
    border: none;
    padding: 15px 20px;
    border-radius: 0 5px 5px 0;
  }

  .DrawerCrossBtn {
    position: absolute;
    right: 0;
    background-color: #efefef;
    width: 15%;
    height: 52px;
    border-left: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchButtonSearchIcon {
    display: none;
  }

  .centerSearchFieldContainer {
    display: none;
  }

  .centerNavRightDataInfoContainerNone {
    display: none;
  }

  .centerNavRightDataInfoContainerLgNone {
    display: block;
  }

  .searchButtonSearchText {
    display: none;
  }

  .searchButtonSearchIcon {
    font-size: 1rem;
    display: block;
  }

  .centerNavRightDataContainer {
    display: flex;
    gap: 20px;
  }

  .centerNavRightDataIcon {
    font-size: 20px;
    margin-top: 0px;
  }

  .centerNavRightDataText {
    display: none;
  }
}

@media screen and (min-width: 751px) and (max-width: 1179px) {
  /* Navigation bar Center section data style */
  .centerNavAllDataContainer {
    gap: 30px;
  }

  .searchButton {
    padding: 18px 20px;
    font-size: 0.8rem;
  }

  .searchButtonSearchText {
    display: none;
  }

  .searchButtonSearchIcon {
    font-size: 1rem;
    display: block;
  }

  .centerNavRightDataInfoContainerNone,
  .topNavFreeShipping {
    display: none;
  }

  .centerNavRightDataText {
    text-transform: capitalize;
    font-size: 0.9rem;
  }

  .centerNavRightText {
    display: none;
  }

  /* Navigation bar Bottom section data style */

  .shopCategoriesALlDataContainer {
    display: flex;
    gap: 35px;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }

  .shopCategoriesAllTextContainer {
    gap: 0px;
    border-right: none;
  }

  .shopCategoriesTextAndIconContainer {
    background-color: #2168c8;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
  }

  .alignJustifyIcon {
    font-size: 1.5rem;
  }

  .shopCategoriesText,
  .arrowDownIcon {
    display: none;
  }

  /* bottom Nav List All Data Container */

  .bottomNavListAllDataContainer {
    display: flex;
    gap: 40px;
    font-size: 1rem;
  }

  .navCategoryRightList {
    display: flex;
    gap: 30px;
  }

  .bottomNavRightHeartIcon {
    font-size: 1.5rem;
  }

  .navCategoryListRightItemHrLine {
    border-right: 1px solid #ebebeb;
    height: 50px;
  }

  /* >>>> */
  .shopCategoriesALlDataInfoContainer {
    width: 280px;
  }
}

@media screen and (min-width: 750px) and (max-width: 900px) {
  /* Navigation bar Center section data style */

  .centerNavAllDataContainer {
    gap: 25px;
  }

  .gadgetGalleryLogo {
    width: 130px;
    height: 52px;
  }

  .searchField {
    height: 48px;
    font-size: 0.9rem;
  }

  .searchFieldContainer {
    height: 48px;
  }

  .allCategories {
    height: 48px;
    gap: 12px;
    padding: 0 15px;
    font-size: 0.85rem;
  }

  .searchButton {
    padding: 18px 20px;
    font-size: 0.8rem;
  }

  .centerNavRightDataContainer {
    gap: 25px;
  }

  .centerNavRightDataInfoContainer {
    gap: 0px;
  }

  .centerNavRightDataInfoContainerNone,
  .topNavFreeShipping {
    display: none;
  }

  .centerNavRightDataIcon {
    margin-top: 6px;
  }

  .centerNavRightText {
    display: none;
  }

  /* Navigation bar Bottom section data style */
  .shopCategoriesALlDataContainer {
    gap: 26px;
  }

  .shopCategoriesTextAndIconContainer {
    padding: 5px;
  }

  .alignJustifyIcon {
    font-size: 1.3rem;
  }

  /* bottom Nav List All Data Container */
  .bottomNavListAllDataContainer {
    gap: 30px;
    font-size: 0.9rem;
  }

  .navCategoryRightList {
    flex-direction: row-reverse;
    gap: 20px;
  }

  .bottomNavRightHeartIcon {
    font-size: 1.3rem;
  }

  .navCategoryListRightItemHrLine {
    border-right: none;
  }

  .bottomNavRightPcBuilder {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1180px) and (max-width: 1275px) {
  /* Navigation bar Center section data style */
  .centerNavAllDataContainer {
    gap: 30px;
  }

  .searchField {
    padding: 5px 20px;
  }

  .searchButton {
    padding: 18px 20px;
  }

  .centerNavRightDataText {
    font-size: 0.9rem;
  }

  .centerNavRightText,
  .searchButtonSearchText {
    display: none;
  }

  .searchButtonSearchIcon {
    font-size: 1rem;
    display: block;
  }
}
