.productDetailsAndHomeContainer {
  background-color: #f5f5f5;
}

.productDetailsAndHome {
  width: 80%;
  margin: 0 auto;
  max-width: 1550px;
  padding: 25px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.home,
.shop {
  color: #848484;
  text-transform: capitalize;
}

.home:hover {
  text-decoration: underline;
}

.shop:hover {
  text-decoration: underline;
}

.productDetails {
  text-transform: capitalize;
}

.productDetailsALlDataContainer {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 30px;
}

.title {
  font-size: 18px;
  color: #848484;
  text-transform: capitalize;
}

.name {
  font-size: 34px;
  font-weight: normal;
  text-transform: capitalize;
  margin: 10px 0 15px 0;
}

.ratingReviewAndStockContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
}

.stock {
  border: 1px solid #0fb232;
  color: #0fb232;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 15px;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-top: 25px;
}

.currentPrice {
  color: #dd2831;
  font-size: 38px;
  font-weight: 700;
}

.oldPrice {
  color: #848484;
  font-size: 22px;
  font-weight: 300;
}

.discount {
  font-size: 18px;
  margin-left: 5px;
}

.productDetailsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px 0 0 22px;
  color: #848484;
}

.productDetails2 {
  padding: 25px 0 0 6px;
  color: #848484;
}

.serviceList {
  background-color: #e8f3fe;
  color: #0068c8;
  padding: 20px 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 3px;
  text-transform: capitalize;
  margin-top: 30px;
}

.hrLine {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin: 50px 0;
}

.tagsContainer,
.shareContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
  margin: 14px 0;
}

.tags,
.sku {
  color: #848484;
  transition: all 0.3s;
}

.tags:hover {
  color: #0068c8;
}

.shareIcon {
  font-size: 20px;
  color: #848484;
  transition: all 0.3s;
}

.shareIcon:hover {
  color: #0068c8;
}
